.brand {
	width: 100%;
}

#logotype {
	content: url('logotype.svg');
	width: 220px;
	height: 32px;
	margin-left: auto ;
	margin-right: auto ;
}

body {
	background: url('backdrop.png') no-repeat;
	background-size: cover;
	min-height: 600px;
}


