.produkte {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:  100%;
}

.produkt-container {
	margin-top: 40px;
/*	background: url('dummy-produkt.png') no-repeat center center;
	background-size: 220px 310px;*/
}

.produkt {
	position: relative;
	top: 50%;
	margin-top: -155px;
	text-align: center;
}

.produkt img {
	width:  220px;
	height:  310px;
}


