.produkte {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:  100%;
}

.produkt {
	position: relative;
	top: 50%;
	margin-top: -130px;
	text-align: center;
}

.produkt img {
	width:  220px;
	height:  310px;
}

.produkt-container {
	background: url('dummy-produkt.png') no-repeat center center;
	background-size: 220px 310px;
	
}

.buehne {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height:45%;
	background: url('dummy-holz.png') no-repeat top center;
	background-size: cover;
}