/* Branding */

$brand-color1: #604C3F;
$brand-color2: orange;

.brand {
	width: 100%;
}

#logotype {
	margin: 20px auto;	
	content: url('logotype.svg');
	width: 220px;
	height: 32px;
}

body {
	background: url('texture.png') repeat;
	min-height: 600px;
}


.buehne {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45%;
	background: url('dummy-holz.png') no-repeat top center;
	background-size: cover;
}


/* Produkte */


.produkte {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:  100%;
}

.produkt-container {
	margin-top: 40px;
/*	background: url('dummy-produkt.png') no-repeat center center;
	background-size: 220px 310px;*/
}

.produkt {
	position: relative;
	top: 50%;
	margin-top: -155px;
	text-align: center;
}

.produkt img {
	width:  220px;
	height:  310px;
}

//.produkt a:hover img {
//	background: rgba(255,255,255,0.1);
//}

.underline-link {
	background: lighten($brand-color1, 60%);
	padding: 0	10px;
	border-bottom: 1px solid #333;
}

